<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../statics/jquery-3.3.1.min.js"></script>
	<script src="../statics/animation.js"></script>
</head>
<body>
<h1>Animation 1</h1>
<button id="d1" style="height: 100px;width: 100px;">b1</button>
<button id="d2" style="height: 100px;width: 100px;">b2</button>
<button id="d3" style="height: 100px;width: 100px;">b3</button>
<br>
<h1>Animation 2</h1>
<button id="btn1">Animation height</button>
<button id="btn2">Reset height</button>
<div id="box" style="background: #87fe42;height: 100px;width: 100px;margin: 6px"></div>
</body>
</html>