<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script>
		$(document).ready(function(){
			$("#flip").click(function(){
				$("#panel").slideToggle("slow");
			});

		});
	</script>
	<style>
		#panel{
			padding:50px;
			display: none;

		}
		#panel{
			padding:50px;
			display: none;
		}
	</style>
</head>
<body>

<button id="flip">Click to slide the panel down or up</button><br></br>
<button id="panel">Hello World</button><br></br>

<div id="div1" style="width: 80px;height: 80px;display: none;background-color: red;"></div><br>
<div id="div2" style="width: 80px;height: 80px;display: none;background-color: yellow;"></div><br>
<div id="div3" style="width: 80px;height: 80px;display: none;background-color: blue;"></div><br>
</body>
</html>