<!DOCTYPE html>
<html>
<head>
	<title>Timetables</title>

	<script src="../statics/jquery-3.3.1.min.js"></script>
	<script src="../statics/test.js"></script>
</head>
<body>
<div id="container">
	<p>jdfkaj sjdkfjsdkljfkldsj flsdjklsfjklsdjf kldsfjk fjkl jdkljfk lsfjkld jfklsdjf kl
	aj kfljaskl fjsdkl jkl jklsdf dsjflkjsdklfj ksljfklds kldsjf klsdjflkdjf la
 jaklsfjklsdjf kldj fklsd kl jklsdj fkljf klsdjf klsjf klfj kljfkljflkfjdk fjdoifjio jfkos j
 a jklsdfj klsjfksdjfksdjf klfgiorgjfojgrjgkls jfkj
s adjfkdsj fiojfiosj fiewjrf-ejfpoejf0ejgldsgilj sdjlsdjlkf jdskfj k jl jlfdj fj0iewjflkdshg</p>
	<div id="countries">
		<div id="fr">
			<div>France</div>
			<img src="../statics/flags/bn.gif">
			
		</div>
		<div id="fi">
			<div>Finland</div>
			<img src="../statics/flagss/bs.gif">
		</div>
	</div>
	<table id="key">
		<caption>Key</caption>
		<tr><th>HCI</th><td>Human Computer Interaction</td></tr>
		<tr><th>ISO</th><td>Information Systems in Organisations</td></tr>
		<tr><th>SD</th><td>Software</td></tr>
	</table>
</div>

</body>
</html>